//- .card-widget.card-map
  .card-content
    .item-headline
        i.fa.fa-map-marker(aria-hidden="true")
        span= _p('')
    <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=0e1633&w=180&t=n&d=PqqkPXLXHNUrTiM15J5SWMuk1pzEEwkXFNlwXiTMWQ0&co=0b4975&ct=91afd5&cmo=3acc3a&cmn=ff5353'></script>
    //- <a href="https://clustrmaps.com/site/1c0ti"><img src="//www.clustrmaps.com/map_v2.png?d=PqqkPXLXHNUrTiM15J5SWMuk1pzEEwkXFNlwXiTMWQ0&cl=ffffff" /></a>
    //- a(href=url_for('https://clustrmaps.com/site/1c0ti'))
    //-     img(src=url_for('//www.clustrmaps.com/map_v2.png?d=PqqkPXLXHNUrTiM15J5SWMuk1pzEEwkXFNlwXiTMWQ0&cl=ffffff'))
if theme.aside.card_maps.enable
    .card-widget.card-map
        .card-content
            //- .item-headline
            //- i.fa.fa-map-marker(aria-hidden="true")
            //- span= _p('')
        <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=0e1633&w=240&t=n&d=PqqkPXLXHNUrTiM15J5SWMuk1pzEEwkXFNlwXiTMWQ0&co=0b4975&cmo=3acc3a&cmn=ff5353&ct=cdd4d9'></script>